@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(https://fonts.cdnfonts.com/css/garet);

:root {
  --primary-color-one: white;
  --primary-color-tow: black;
  --secondary-color-one: #ffbf00;
  --secondary-color-tow: #1a245f;
}

body {
    padding-top: 70px;
    background-color: var(--primary-color-one);
	  color: var(--primary-color-tow);
    font-family: 'Garet', sans-serif;
    font-size: 17px;
    line-height: 1.8 !important;
}

html {
	overflow-x:hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Garet', sans-serif;
	font-weight: 200;
	color: var(--secondary-color-tow);
}

p{
	font-family: 'Garet', serif;
	font-weight:300;
}

section {
	padding-top:85px;
	padding-bottom:85px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

a,a:link {
	color: var(--primary-color-tow);
}

a:hover,a:focus {
	color: var(--secondary-color-tow);
}

input, textarea {
  border: 0.800px solid lightgray;
  padding: 13px 19px;
}

input:focus, textarea:focus {
  border: 1px solid gray;
  outline: 0 none;
  box-shadow: 0px 0px 10px lightgray;
  transition: 0.3s;
}

button {
  background-color: white;
  border: 0.800px solid gray;
}


/* Navbar */


.navbar-brand > img {
  height: 250px;
  width: auto;
  position: fixed;
  top: -4.7%;
  left: -5%;
  /* filter: drop-shadow(0px 0px 10px black); */
  padding-left: 5px;
}

nav {
  border-bottom: 4px solid var(--secondary-color-one) !important;
  /* box-shadow:  0px 0px 10px black; */
  /* -webkit-box-shadow:  0px 0px 10px black; */
  
}

.navbar-fixed-top .nav {
    padding: 20px 0;
}

.navbar-fixed-top .navbar-brand {
  padding: 0px;
}

.navbar-header a {
  height: 100%;
}

nav > .container {
  margin-left: 0;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 0px;
}

.first-ul {
  transform: translateX(170%);
}

.second-ul {
  font-size: 14px;
}

#main-menu {
  transform: translateX(10%);
}

@media(min-width:768px) {
  body {
    padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
  
  .navbar-fixed-top {
    padding: 5px 0;
  }
}

@media (max-width: 1244px) {
  .first-ul {
    display: flex;
    transform: translateX(80%);
  }

  #main-menu {
    transform: translateX(15%);
  }
}

@media (max-width: 767px) {
  .first-ul {
    transform: translateX(0%);
  }
  .navbar-brand > img {
    height: 70px;
    position: relative;
  }
  nav > .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 0 20px;
  }
}

.navbar-default {
    background-color: var(--primary-color-one);
    border-color: var(--primary-color-tow);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background-color: var(--primary-color-one);
    color: var(--primary-color-tow);
}

.navbar-default .navbar-nav > li > a {
    color: var(--primary-color-tow);
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: var(--secondary-color-tow);
}

.slider {
  padding-top: 0;
}


/* Toggle Animation */

.navbar-toggle * {
	-ms-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.navbar-toggle {
    border: medium none;
    border-radius: 0;
    color: var(--primary-color-tow);
    cursor: pointer;
    height: 50px;
    padding: 16px;
    width: 50px;
    float: right;
	margin-top:0px;
	margin-bottom:0px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: var(--primary-color-one);
}

.navbar-default .navbar-toggle, .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: var(--primary-color-tow);
}

.navbar-toggle span {
	width: 25px;
	height: 3px;
	margin-bottom: 5px;
	background-color: var(--primary-color-tow);
	display: block;
}
.navbar-toggle span.bar1 {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
	-ms-transform-origin: 1px 3px;
	-webkit-transform-origin: 1px 3px;
  -moz-transform-origin: 1px 3px;
  -o-transform-origin: 1px 3px;
	transform-origin: 1px 3px;
	width: 31px;
}
.navbar-toggle span.bar2 {
	-ms-transform: rotate(-360deg) scale(0);
	-webkit-transform: rotate(-360deg) scale(0);
  -moz-transform: rotate(-360deg) scale(0);
  -o-transform: rotate(-360deg) scale(0);
	transform: rotate(-360deg) scale(0);
}

.navbar-toggle span.bar3 {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-transform-origin:8px 2px;
	-webkit-transform-origin: 8px 2px;
	transform-origin: 8px 2px;
	width: 31px;
}
.navbar-toggle.collapsed span.bar1,
.navbar-toggle.collapsed span.bar2,
.navbar-toggle.collapsed span.bar3,
.navbar-toggle.collapsed span.bar4 {
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
	width: 30px;
}


/* Start */


.start > .row > div > img {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.container > .row {
  text-align: justify;
}

@media (max-width: 543px) {
  .container > .row {
    text-align: left;
  }
}


/* About */


.big-letter p:first-child:first-letter { 
	float: left; 
	color: var(--secondary-color-tow); 
	font-size: 8em;  
	line-height: 0.8em; 
	text-transform: uppercase; 
	padding-top: 0px;  
	padding-right: 0.1em; 
	padding-left: –0.03em;	
}

.about > article > div > img {
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 5em;
}

.float-r {
  float: right;
  margin-left: 100px;
}

.float-l {
  float: left;
  margin-right: 100px;
}

@media (max-width: 992px) {
  .about > article > div > img {
    margin: 0;
  }

  .float-l, .float-r {
    float: none;
    margin: 0;
    transform: translateX(50%);
  }
}

.philosophy {
  margin-top: 70px;
}

.philosophy h2 {
  padding-top: 50px;
}

.philosophy img {
  width: 130px !important;
}

.m-l {
  margin-left: 100px;
}

@media (max-width: 992px) {
  .philosophy p {
    padding-bottom: 50px;
  }
  .m-l {
    margin-left: 0;
  }
  .philosophy h2 {
    padding-top: 0;
  }
  .philosophy img {
    float:left;
    margin-right: 20px !important;
    margin-bottom: 10px !important;
    transform: translateX(-5%);
  }
}

/* Firefox Fix */

@-moz-document url-prefix() {
    .big-letter p:first-child:first-letter {
        padding-top: 0.08em;  
    }
}



/* Carousel */

.carousel-control.left {
  background-image: none;
  filter: none;
}
.carousel-control.right {
  background-image: none;
  filter: none;
}



/* Gallery */


/* Hover Effect */

.hovereffect a:link,.hovereffect a:hover,.hovereffect a:focus,.hovereffect a:visited {
	color: var(--primary-color-tow);
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: left;
  background: #cccccc;
  cursor:pointer;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  padding: 50px 20px;
  cursor:pointer;
}

.hovereffect a, .hovereffect p,.hovereffect h2 {
  color:  var(--primary-color-tow);
  text-decoration:none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(100%,0,0);
  transform: translate3d(100%,0,0);
}

.hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h2 {
  color: var(--primary-color-tow);
  text-decoration:none;
  opacity: 1;
  letter-spacing:1px;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

@media (max-width: 992px) {
	.hovereffect{
		margin-bottom: 25px;
	}
}

.hovereffect img {
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  cursor:pointer;
}

.hovereffect:hover img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect .photo-1, 
.hovereffect .photo-2, 
.hovereffect .photo-3,
.hovereffect .photo-4,
.hovereffect .photo-5,
.hovereffect .photo-6{
  display: block;
  position: relative;
  max-width: none;
  width: calc(100% + 20px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-10px,0,0);
  transform: translate3d(-10px,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.hovereffect:hover .photo-1,
.hovereffect:hover .photo-2,
.hovereffect:hover .photo-3,
.hovereffect:hover .photo-4,
.hovereffect:hover .photo-5,
.hovereffect:hover .photo-6{
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.photo-1,.photo-2,.photo-3,.photo-4,.photo-5,.photo-6{
	background-size:cover;
	height:100vh;
	width:100%;
	background-position:center;
}

/* Thumbnail Images*/

.photo-1 {background-image: url('../img/1.jpg');}
.photo-2 {background-image: url('../img/2.jpg');}
.photo-3 {background-image: url('../img/3.jpg');}
.photo-4 {background-image: url('../img/4.jpg');}
.photo-5 {background-image: url('../img/5.jpg');}
.photo-6 {background-image: url('../img/6.jpg');}

/* Modal Box */

.modal-dialog {
    margin: 0px auto;
    position: fixed;
    top: 0;
	left:0;
    width: 100%;
}

.modal-body {
    padding: 0px;
}

.modal-content {
    background-color: transparent;
    border: none;
    border-radius: 0px;
    box-shadow: none;
}

/* Carousel Control*/

.close {
    color:  var(--primary-color-tow);
    font-size: 50px;
    font-weight: lighter;
    opacity: 1;
    position: fixed;
    right: 30px;
    text-shadow: none;
    top: 10px;
    z-index: 2147483647;
}

.close:hover, .close:focus {
    color: var(--secondary-color-tow);
}

.carousel-control.left, .carousel-control.right  {
    background-image: none;
	height: 100vh;
}

.carousel-control {
    text-shadow: none;
	width: 9%;
}

.modal-open .modal {
    top: 0;
    position: fixed!important;
}


/* Thumbnail */

.thumbnail {
    background-color: transparent;
    border: 0px solid #ddd;
    border-radius: 0px;
    display: block;
    line-height: 1.42857;
    margin-bottom: 0px;
    padding: 10px;
    transition: border 0.2s ease-in-out 0s;
}

@media (max-width: 992px) {
	.thumbnail {
		padding: 0px 10px;
	}
}


.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 100vh;
    max-width: none;
	width: 100%;
	object-fit: cover;
}


/* Press */

.press p {
	line-height:1.7em;
}

.press a:link {
	text-decoration:underline;
}

.press h4 {
	padding-top:20px;
	font-weight:bold;
	letter-spacing:1px;
}

.press > .container > .row > div > p > img {
  width: 200px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.phrase-container {
  margin: 110px 0;
  padding-bottom: 110px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--secondary-color-tow);
}



/* Contact */

.contact-section p {
  line-height:1.7em;
}

.contact-section h4 {
	font-weight:bold;
	letter-spacing:1px;
}

.contact{
  display: flex;
}

.contact > form {
  width: 60%;
  height: 400px;
}

.contact > div {
  width: 40%;
  height: 400px;
}

.contact > div {
  margin-left: 45px;
}

input[name='name-field'], input[name='email-field'] {
  width: 49.6%;
  margin-bottom: 10px;
  font-size: large;
}

textarea[name='message-field'] {
  width: 100%;
}

#send-now-btn {
  color: gray;
  font-size: 22px;
  padding: 10px 45px;
}

#send-now-btn:hover {
  background-color: gray;
  color: white;
  transition: 0.3s;
}


/* Footer */

footer p {
	font-family: 'Garet', sans-serif;
	font-weight:200;
	font-size:0.7em;
	text-transform:uppercase;
}

.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(../img/arrow-up.png) no-repeat center 50%;
  background-size:cover;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}
.no-touch .cd-top:hover {
  background-color: transparent;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}

@media (max-width:1200px) {
  input[name='name-field'], input[name='email-field'] {
    width: 100%;
  }
}

@media (max-width:480px) {
  .contact {
    display: flex;
    justify-items: center;
    flex-direction: column;
  }

  .contact-section p {
    line-height:1.5em;
  }

  .contact > form {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .contact > div {
    width: 100%;
    height: 400px;
    margin: 0;
    margin-top: 40px;
  }
}
